images/appchoo/FreeMonoBold.ttf binary
images/appchoo/appchoo binary
images/base/xbanish binary
images/gui/qclosebutton binary
images/gui/x_64x64.png binary
images/qrhandler/event binary
images/skype/apulse/lib/libpulse* binary
images/test/GpuTest_Linux_x64_0.7.0.tar.bz2 binary

