### TODO: source station.cfg!!!

# x11vnc # ?
#### initially: register???
### the folllowing depends on the  station_type:

if [ -z "${station_type}" ]; then
  export station_type="init"
fi

t="${station_type}"

if [ "$t" = "init" ];
then
  export background_services='ptmx'
  export default_app='omd_agent'
  export possible_apps="${default_app}"
fi

if [ "$t" = "simple" ];
then
#  qrhandler
  export background_services='ptmx omd_agent'
  export default_app='hb_test'
  export possible_apps="${default_app}"
fi

if [ "$t" = "vb_gui_test" ];
then
#  qrhandler
  export background_services='ptmx omd_agent x11_xclock'
  export default_app='hb_test'
  export possible_apps="${default_app}"
fi

if [ "$t" = "no_x11_demo" ];
then
#  qrhandler
  export background_services='ptmx omd_agent x11'
  export default_app='demo'
  export possible_apps="demo kiosk chrome opera"
fi

if [ "$t" = "kiosk" ];
then
  export background_services='ptmx omd_agent qrhandler x11vnc'
  export default_app='kiosk'
  export possible_apps="opera chrome kiosk"
fi

if [ "$t" = "demo" ];
then
#  qrhandler
  export background_services='ptmx omd_agent qrhandler x11vnc'
  export default_app='demo'
  export possible_apps="${default_app}"
fi


if [ "$t" = "server_persistent" ];
then
  export background_services='ptmx omd_agent omd_persistent'
  export default_app='hb_test'
  export possible_apps="${default_app}"
fi


if [ "$t" = "server_anew" ];
then
  export background_services='ptmx omd_agent omd_anew'
  export default_app='hb_test'
  export possible_apps="${default_app}"
fi

